.dark-big {
	color: #333333;
	font-size: 0.16rem;
}

.dark-medium {
	color: #333333;
	font-size: 0.14rem;
}

.dark-small {
	color: #333333;
	font-size: 0.12rem;
}

.dark-micro {
	color: #333333;
	font-size: 0.1rem;
}

.gray-big {
	color: #A2A2A2;
	font-size: 0.16rem;
}

.gray-medium {
	color: #A2A2A2;
	font-size: 0.14rem;
}

.gray-small {
	color: #A2A2A2;
	font-size: 0.12rem;
}

.gray-micro {
	color: #A2A2A2;
	font-size: 0.1rem;
}

.orange-big {
	color: #F79709;
	font-size: 0.16rem;
}

.orange-medium {
	color: #F79709;
	font-size: 0.14rem;
}

.orange-small {
	color: #F79709;
	font-size: 0.12rem;
}

.orange-micro {
	color: #F79709;
	font-size: 0.1rem;
}