body {
	background: white;
}

.mui-content {
	background: white;
}

.wrap-search {
	margin: 0.15rem;
	background: #e6e6e6;
	height: 0.3rem;
	border-radius: 0.05rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-icon {
	color: #AAAAAA;
	font-size: 0.16rem;
}

.search-txt {
	color: #AAAAAA;
	font-size: 0.14rem;
}

.list-wrap {
	width: 100%;
	height: calc(100vh - 1.10rem);
	position: relative;
	overflow: hidden;
}

.item {
	box-sizing: border-box;
	padding: 0.05rem 0.2rem;
	border: none;
	border-bottom: 0.01rem solid #eee;
	display: flex;
}

.item:last-child {
	border-bottom: none;
}

.item-img {
	width: 0.6rem;
	height: 0.9rem;
	margin-right: 0.1rem;
}

.right-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.dark-big {
	color: #333333;
	font-size: 0.16rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.gray-small {
	color: #A2A2A2;
	font-size: 0.12rem;
}

.orange-small {
	color: #F79709;
	font-size: 0.12rem;
}